---
layout: default
title: Seguros e assistências
class: seguros
---

<nav class="seguros-menu">
	<a href="{{ site.url }}/seguros-e-assistencias/veicular" title="Assistência veicular">
		<div class="svg">
			{% include svg-veicular.html %}
		</div>
		<small>24h</small>
		<strong>Veicular</strong>
		<p>Guincho, reboque, auxílio mecânico, chaveiro, táxi</p>
		<u>+ detalhes</u>
	</a>

	<a href="{{ site.url }}/seguros-e-assistencias/residencial" title="Assistência residencial">
		<div class="svg">
			{% include svg-residencial.html %}
		</div>
		<small>24h</small>
		<strong>Residencial</strong>
		<p>Serviços elétricos, hidráulicos, chaveiro, reparos</p>
		<u>+ detalhes</u>
	</a>

	<a href="{{ site.url }}/seguros-e-assistencias/funeral" title="Assistência funeral">
		<small>24h</small>
		<strong>Funeral</strong>
		<p>Apoio logístico, administrativo, cobertura de despesas</p>
		<u>+ detalhes</u>
	</a>
</nav>