
<fieldset class="meeting-card">
	<div>
		<time datetime="2025-03-08"><em>Sáb</em><small>8 mai</small></time>
		<strong>Clínico<br>geral</strong>
		<button type="button" title="Cancelar">Cancelar</button>
	</div>
	<div>
		<header>
			<code>#1234</code>
			<mark>Solicitado</mark><br>
			<time>9:40</time><!-- Scheduled only -->
		</header>
		<p>Videochamada disponível no dia e horário agendado</p>
		<span>
			<strong>6 min</strong>
			<label>tempo de espera aproximado</label>
			<b>aguarde...</b>
		</span>
		<footer>
			<label>Entrar</label>
			<button type="button" title="Entrar na video chamada"><i></i></button>
		</footer>
	</div>
</fieldset>
