<div class="popup-notifications">
	<strong>Notificações</strong>
	<ol>
		<li>
			<header>
				<time>6 abr, 2025</time>
				<span>14h30</span>
			</header>
			<p><a href="">Pronto Atendimento solicitado</a></p>
			<footer>
				<small>Para José</small>
				<code>#1234</code>
			</footer>
		</li>
		<li>
			<header>
				<time>6 abr, 2025</time>
				<span>14h30</span>
			</header>
			<p><a href="">Agendamento de consulta, Cardiologista, Sáb. 15 mai, 2025 - 10h30</a></p>
			<footer>
				<small>Para José</small>
				<code>#1234</code>
			</footer>
		</li>
		<li>
			<header>
				<time>6 abr, 2025</time>
				<span>14h30</span>
			</header>
			<p><a href="">Agendamento de consulta, Cardiologista, Sáb. 15 mai, 2025 - 10h30</a></p>
			<footer>
				<small>Para José</small>
				<code>#1234</code>
			</footer>
		</li>
		<li>
			<header>
				<time>6 abr, 2025</time>
				<span>14h30</span>
			</header>
			<p><a href="">Agendamento de consulta, Cardiologista, Sáb. 15 mai, 2025 - 10h30</a></p>
			<footer>
				<small>Para José</small>
				<code>#1234</code>
			</footer>
		</li>
		<li>
			<header>
				<time>6 abr, 2025</time>
				<span>14h30</span>
			</header>
			<p><a href="">Agendamento de consulta, Cardiologista, Sáb. 15 mai, 2025 - 10h30</a></p>
			<footer>
				<small>Para José</small>
				<code>#1234</code>
			</footer>
		</li>
		<li>
			<header>
				<time>6 abr, 2025</time>
				<span>14h30</span>
			</header>
			<p><a href="">Agendamento de consulta, Cardiologista, Sáb. 15 mai, 2025 - 10h30</a></p>
			<footer>
				<small>Para José</small>
				<code>#1234</code>
			</footer>
		</li>
		<li>
			<header>
				<time>6 abr, 2025</time>
				<span>14h30</span>
			</header>
			<p><a href="">Agendamento de consulta, Cardiologista, Sáb. 15 mai, 2025 - 10h30</a></p>
			<footer>
				<small>Para José</small>
				<code>#1234</code>
			</footer>
		</li>
	</ol>
</div>