<dl class="popup-specialties">
	<dt>
		<strong><em>XX</em> especialidades médicas</strong>
		<button type="button" class="close" title="Fechar"><i></i></button>
	</dt>
	<dd>Especialidade aaa</dd>
	<dd>Especialidade bbb</dd>
	<dd>Especialidade ccc</dd>
	<dd>Especialidade aaa</dd>
	<dd>Especialidade bbb</dd>
	<dd>Especialidade ccc</dd>
	<dd>Especialidade aaa</dd>
	<dd>Especialidade bbb</dd>
	<dd>Especialidade ccc</dd>
	<dd>Especialidade aaa</dd>
	<dd>Especialidade bbb</dd>
	<dd>Especialidade ccc</dd>
	<dd>Especialidade aaa</dd>
	<dd>Especialidade bbb</dd>
	<dd>Especialidade ccc</dd>
	<dd>Especialidade aaa</dd>
	<dd>Especialidade bbb</dd>
	<dd>Especialidade ccc</dd>
	<dd>Especialidade aaa</dd>
	<dd>Especialidade bbb</dd>
	<dd>Especialidade ccc</dd>
	<dd>Especialidade aaa</dd>
	<dd>Especialidade bbb</dd>
	<dd>Especialidade ccc</dd>
	<dd>Especialidade aaa</dd>
	<dd>Especialidade bbb</dd>
	<dd>Especialidade ccc</dd>
	<dd>Especialidade aaa</dd>
	<dd>Especialidade bbb</dd>
	<dd>Especialidade ccc</dd>
	<dd>Especialidade aaa</dd>
	<dd>Especialidade bbb</dd>
	<dd>Especialidade ccc</dd>
	<dd>Especialidade aaa</dd>
	<dd>Especialidade bbb</dd>
	<dd>Especialidade ccc</dd>
	<dd>Especialidade aaa</dd>
	<dd>Especialidade bbb</dd>
	<dd>Especialidade ccc</dd>
</dl>