<div class="popup-history">
	<button type="button" class="close" title="Fechar" onclick="closeHistory();"><i></i></button>

	<header>
		<button
			type="button"
			title="Agendado"
			class="history-scheduled-bt history-tab active"
			onclick="historyTabs(event, 'history-scheduled')"><i></i></button>
		<button
			type="button"
			title="Realizado"
			class="history-accomplished-bt history-tab"
			onclick="historyTabs(event, 'history-accomplished')"><i></i></button>
		<button
			type="button"
			title="Cancelado"
			class="history-canceled-bt history-tab"
			onclick="historyTabs(event, 'history-canceled')"><i></i></button>
	</header>

	<!-- Agendado -->
	<ol class="history-scheduled history-tabcontent" id="history-scheduled">
		<li>
			<header>
				<time>6 abr, 2025 &#8226; 14h30</time>
				<code>#2334</code>
			</header>
			<footer>
				<strong>Cardiologista</strong>
				<mark>Agendado</mark>
			</footer>
		</li>
		<li>
			<header>
				<time>6 abr, 2025 &#8226; 14h30</time>
				<code>#2334</code>
			</header>
			<footer>
				<strong>Cardiologista</strong>
				<mark>Agendado</mark>
			</footer>
		</li>
		<li>
			<header>
				<time>6 abr, 2025 &#8226; 14h30</time>
				<code>#2334</code>
			</header>
			<footer>
				<strong>Cardiologista</strong>
				<mark>Agendado</mark>
			</footer>
		</li>
		<li>
			<header>
				<time>6 abr, 2025 &#8226; 14h30</time>
				<code>#2334</code>
			</header>
			<footer>
				<strong>Cardiologista</strong>
				<mark>Agendado</mark>
			</footer>
		</li>
		<li>
			<header>
				<time>6 abr, 2025 &#8226; 14h30</time>
				<code>#2334</code>
			</header>
			<footer>
				<strong>Cardiologista</strong>
				<mark>Agendado</mark>
			</footer>
		</li>
		<li>
			<header>
				<time>6 abr, 2025 &#8226; 14h30</time>
				<code>#2334</code>
			</header>
			<footer>
				<strong>Cardiologista</strong>
				<mark>Agendado</mark>
			</footer>
		</li>
		<li>
			<header>
				<time>6 abr, 2025 &#8226; 14h30</time>
				<code>#2334</code>
			</header>
			<footer>
				<strong>Cardiologista</strong>
				<mark>Agendado</mark>
			</footer>
		</li>
		<li>
			<header>
				<time>6 abr, 2025 &#8226; 14h30</time>
				<code>#2334</code>
			</header>
			<footer>
				<strong>Cardiologista</strong>
				<mark>Agendado</mark>
			</footer>
		</li>
		<li>
			<header>
				<time>6 abr, 2025 &#8226; 14h30</time>
				<code>#2334</code>
			</header>
			<footer>
				<strong>Cardiologista</strong>
				<mark>Agendado</mark>
			</footer>
		</li>
		<li>
			<header>
				<time>6 abr, 2025 &#8226; 14h30</time>
				<code>#2334</code>
			</header>
			<footer>
				<strong>Cardiologista</strong>
				<mark>Agendado</mark>
			</footer>
		</li>
	</ol>

	<!-- Realizado -->
	<ol class="history-accomplished history-tabcontent" id="history-accomplished">
		<li>
			<header>
				<time>6 abr, 2025 &#8226; 14h30</time>
				<code>#2334</code>
			</header>
			<footer>
				<strong>Cardiologista</strong>
				<mark>Realizado</mark>
			</footer>
		</li>
	</ol>

	<!-- Cancelado -->
	<ol class="history-canceled history-tabcontent" id="history-canceled">
		<li>
			<header>
				<time>6 abr, 2025 &#8226; 14h30</time>
				<code>#2334</code>
			</header>
			<footer>
				<strong>Cardiologista</strong>
				<mark>Cancelado</mark>
			</footer>
		</li>
	</ol>
</div>