.account-header
	max-width: $main_column
	margin: 2.5rem auto 0
	display: flex
	justify-content: center
	position: relative

	.back
		height: 3rem
		display: flex
		align-items: center
		gap: .5rem
		color: $neutral_90
		position: absolute
		top: 0
		left: 0

		i
			flex: 0 0 1.5rem
			height: 1.5rem
			background-color: $secondary
			mask-size: contain
			mask-image: url("../img/icons/down.svg")
			transform: rotate(90deg)

		&:hover
			opacity: .7

	.tabs
		display: flex

		button
			height: 3rem
			box-sizing: border-box
			display: flex
			align-items: center
			gap: .5rem
			padding: 0 1rem
			background-color: transparent
			border: none
			cursor: pointer
			font-size: .875rem
			color: $neutral_90
			border-bottom: solid 2px $neutral_10
			opacity: .4

			&:hover
				opacity: 1

			&.active
				border-bottom: solid 2px $secondary
				opacity: 1
				cursor: default

			&.tab-registration i
				mask-image: url("../img/icons/person.svg")
			&.tab-credentials i
				mask-image: url("../img/icons/lock.svg")

		i
			width: 1.5rem
			height: 1.5rem
			background-color: $secondary
			mask-size: contain



.form-field
	box-sizing: border-box
	border-bottom: solid 1px $secondary
	color: $neutral_90
	background-color: rgba(white, .5)
	border-radius: .4rem .4rem 0 0
	display: flex
	flex-direction: column

	label
		font-size: .8rem
		line-height: 1rem
		padding: .5rem 1rem 0

	input, select
		height: 1.5rem
		box-sizing: border-box
		background-color: transparent
		border: none
		color: $neutral_90
		font-size: 1rem
		padding: 0 1rem .5rem
		flex: 1

		&:focus
			outline: none

		&::placeholder
			color: rgba(black, .5)

	&:not(:has(input[readonly])):hover,
	&:has(input:focus)
		box-shadow: inset 0 -1px 0 $secondary
		background-color: rgba(white, .7)
		transition: background-color .3s $ease

	&:has(input[readonly])
		background-color: rgba($secondary, .1)



.account
	justify-content: center
	overflow-y: auto

	&::-webkit-scrollbar
		width: .5rem
	&::-webkit-scrollbar-thumb
		border-right: solid .15rem transparent
		border-left: solid .25rem transparent

	form
		flex: 1
		margin: 2rem 0

		fieldset
			display: flex
			flex-wrap: wrap
			gap: .5rem
			margin-bottom: 2.5rem

		legend
			font-size: .875rem
			text-transform: uppercase
			margin-bottom: .5rem
			font-weight: 700


	.registration
		max-width: 44rem
		
		fieldset:first-of-type
			.form-field:first-of-type
				flex: 1

			input[name="cpf"]
				width: 9rem

			.form-field:has([required])
				flex: 1

		fieldset:nth-of-type(2)
			.form-field:has(input[type="email"])
				flex: 1

		fieldset:nth-of-type(3)
			input[name="cep"]
				width: 7rem
			.form-field:has(input[name="logradouro"]),
			.form-field:has(input[name="complemento"]),
			.form-field:has(input[name="bairro"]),
			.form-field:has(input[name="cidade"])
				flex: 1
			input[name="numero"]
				width: 7rem

		select
			width: 9rem
			margin-right: .5rem



	.credentials
		display: none
		max-width: 26rem

		.form-field
			width: 100%


	.save
		height: 3rem
		padding: 0 2.5rem
		border-radius: 2rem
		background-color: $secondary
		color: $neutral_10
		font-size: .875rem
		text-transform: uppercase
		cursor: pointer
		border: none
		margin-bottom: 4rem
		transition: transform .3s $ease

		&:hover
			transform: scale(1.04)



@include for-size(phone)
	.account-header
		.back
			overflow: hidden
			text-indent: -9999px
			gap: 0
			flex: 0 0 3rem
			position: static
		.tabs
			flex: 1 1 100%
			button
				// overflow: hidden
				// text-indent: -9999px
				gap: 0
				flex: 1 1 100%
				justify-content: center
				border-bottom: solid 2px rgba($secondary, .1)
				i
					display: none

	.form-field
		width: 100%

		input
			width: 100% !important
		select
			width: 96% !important

	.account
		.save
			margin: 0 auto 4rem


